.card-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70%;
    gap:10px;
   margin: 10px;
 }
 
 .card{  
   
   margin: 15px; 
   margin-top: 30px;
   background-color: rgb(255, 255, 255);
   width: 320px;
   height: 340px;
   
   
   
 }

 .cardimg{
     width: 100%;  
     height: 60%;
 }
  
  .card-content{
     padding: 5px 10px;
  }
  .bttn{
     background-color: var(--secondary);
     border: 1px solid var(--secondary) ;
     color: white;
     border-radius: 4px;
     float: right;
     padding: 6px 20px;
  }

  .bottom-bar{
   position: absolute;
   width: 90%;
   background-color: var(--primary);
   height: 70px;
   z-index: 1;
   border-radius: 7px;
   display: none;
   bottom: 40px;
   cursor: pointer;
}
.bottom-bar-item{
   display: flex;
   flex-direction: column;
   color: black;
}
@media screen and (max-width: 600px) {
   .flex-itemdiv1{
       display: none;
   }
   .flex-containerdiv{
       display: block;
   }
   .bottom-bar{
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
 }
 
 